# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

# Remove empty lines:   ^\s*\r?\n\r?

'.source.gfm':
  'SPORTSONEIBSO':
    'prefix': 'ib'
    'body': 'SPORTSONEIBSO-$1'

'.text.git-commit':
  'commit-message':
    'prefix': 'com'
    'body': """SPORTSONEIBSO-$1: ${2:Work summary}

    https://sapjira.wdf.sap.corp/browse/SPORTSONEIBSO-$1
    ${3:Details of work done}
    """

# .text.plain.null-grammar is used where grammar is not set,
# including the commit message box in git tab
'.text.plain.null-grammar':
  'commit-message':
    'prefix': 'com'
    'body': """SPORTSONEIBSO-$1: ${2:Work summary}
    # ================================================| ====================|

    https://sapjira.wdf.sap.corp/browse/SPORTSONEIBSO-$1
    ${3:Details of work done}
    """
